<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinarycalculator.ayidouble.trinarycalculator.feature">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application>
        <activity android:name="com.trinarycalculator.ayidouble.trinarycalculator.feature.MainActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ayidouble.trinarycalculator.com"
                    android:pathPattern="https://ayidouble.github.io/Trinary-Calculator-JavaScript/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>